
h1 {
    font-size: 44px;
    color: #C8ABA9;
    display: flex;
    justify-content: center;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.image-container img {
    border-radius: 8px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 969px) {
    h1 {
        font-size: 32px;
    }
}