h1 {
    font-size: 44px;
    color: #C8ABA9;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 70px;
}

.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img {
    display: none;
    border-radius: 8px;
}    

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 500px;
} 

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 12px 10px 0;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

// image transition fade effect
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-carousel {
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    color: #dce1e1;
    opacity: 0.95;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-prev,
.icon-next {
    font-size: 35px;
}

/*responsive style - TO BE UPDATE*/
@media screen and (max-width: 969px) {
    h1 {
        font-size: 32px;
    }

    .carousel-container {
        width: 400px;
    }

    .carousel-container img {
        width: 400px;
    }

    .carousel-container img.image-active {
        height: 400px;
    } 
}

@media screen and (max-width: 690px) {
    .carousel-container {
        width: 350px;
    }

    .carousel-container img {
        width: 350px;
    }

    .carousel-container img.image-active {
        height: 350px;
    } 
}

@media screen and (max-width: 445px) {
    .carousel-container {
        width: 300px;
    }

    .carousel-container img {
        width: 300px;
    }

    .carousel-container img.image-active {
        height: 300px;
    } 
}