
h1 {
    font-size: 44px;
    color: #C8ABA9;
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 70px;
}

.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 6px 12px #dce1e1;
}

.carousel-container img {
    display: none;
    border-radius: 8px;
}    

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 500px;
} 

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.image-container img {
    border-radius: 8px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #80558c;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

@media screen and (max-width: 969px) {
    h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 690px) {
    .carousel {
        height: 430px;
        width: 400px;
    }

    .image-container img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 445px) {
    .carousel {
        height: 330px;
        width: 300px;
    }

    .image-container img {
        width: 300px;
        height: 300px;
    }
}