.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #C8ABA9;
    color: #F0EFE3;
    font-weight: 700;
    font-size: 18px;
    z-index: 1;
}

.toolbar ul {
    margin: 0;
    padding: 0;
}

.toolbar li {
    margin-right: 30px;
    list-style: none;
    display: inline;
}

.toolbar li a {
    text-decoration: none;
    color: #F0EFE3;
    font-size: 18px;
}

.toolbar img {
    margin: 10px 0 0 20px;
    height: 60px;
    width: 280px;
}

.spacer {
    flex: 1;
}

a {
    list-style: none;
}

.header-content img {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .toolbar {
        font-size: 16px;
    }

    .toolbar img {
        display: flex;
        align-items: center;
        margin: 20px;
        width: 230px;
        height: 50px;
    }
}

@media screen and (max-width: 690px) {
    .toolbar {
        font-size: 16px;
        flex-direction: column;
        justify-content: center;
    }

    .toolbar .nav-options {
        padding-bottom: 17px;
        margin-left: 7%;
    }

    .toolbar .logo-img {
        display: flex;
        align-items: center;
        margin: 21px 29px 5px 0;
        padding: 0 30px 0 0;
        width: 230px;
        height: 50px;
    }
}

@media screen and (max-width: 390px) {
    
    .toolbar li {
        margin-right: 27px;
    }

    .toolbar li a {
        font-size: 16px;
    }
}

 /* In Case I insert the logos in the navbar
.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
} */