<div class="toolbar" role="banner">
  <div class="logo-img">
    <img src="../../../assets/logo-img.png" alt="Logo Image" />
  </div>
  <div class="spacer"></div>
  <div class="nav-options">
    <ul>
    <li><a href="/">home.</a></li>
    <li><a href="/">about.</a></li>
    <li><a href="/">blog.</a></li>
    <li><a href="/">gallery.</a></li>
    <li><a href="/">contact.</a></li>
    </ul>
  </div>
</div>
<div class="header-content">
    <img src="../../../assets/left-right-human-brain-concept.jpg" alt="Page Header Image" />
</div>

