.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #C8ABA9;
    color: #F0EFE3;
    font-weight: 700;
    font-size: 18px;
}

.toolbar span {
    margin-right: 30px;
}


.toolbar img {
    margin: 0 100px 0px 20px;
    height: 60px;
    width: 280px;
}

 /* In Case I insert the logos in the navbar
.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
} */

.spacer {
    flex: 1;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .toolbar {
        font-size: 16px;
    }

    .toolbar img {
        display: flex;
        align-items: center;
        margin: 0 20px;
        width: 200px;
        height: 50px;
    }
}

@media screen and (max-width: 690px) {
    .toolbar {
        padding: 8px ;
        font-size: 16px;
        flex-direction: column;
        justify-content: center;
    }

    .toolbar .nav-options {
        padding-bottom: 13px;
        margin-left: 10%;
    }

    .spacer {
        flex: 0.5;
    }

    .toolbar img {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
    }
}

.header-content img {   
     /* Set up proportionate scaling */
     width: 100%;
     height: auto;
     position: absolute;
     top: 6.2rem;
     left: 0;
     right: 0;
 
     /* Set up positioning */
     margin: 0;
     padding: 0;
 
    @media screen and (max-width: 1024px) { /* Specific to this particular image */
         img {
           left: 50%;
           margin-left: -512px;   /* 50% */
        }
    }

    @media (max-width: 690px) {
        img {
            left: 50%;
            margin-left: -512px;   /* 50% */
       }
   }
}