* {
    box-sizing: border-box;
}

.content {
    display: flex;
    margin: 100px;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

.cloud {
    width: auto;
    height: 400px;
}
svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}