@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

h1 {
    font-size: 44px;
    color: #C8ABA9;
}

h2 {
    margin: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #80558C;
}

.float-child {
    margin-top: 88px;
}

.title {
    display: flex;
    justify-content: center;
}

.neuro-img {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Lato' sans-serif;
    color: #070707;
    letter-spacing: 0.3px;
    background-color: rgb(243, 238, 238);
    border-radius: 8px;
    padding: 20px;
    margin: 40px;
    max-width: 600px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.card-container p {
    padding: 0 23px;
    text-align: justify;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 30px;
    width: 220px;
    margin: 23px 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container {
    fill: rgb(105, 103, 103);
}

.card.card.highlight-card span {
    margin-left: 60px;
}

.card span {
    font-weight: 500;
    font-size: 18px;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #80558C;
}

a,
a:visited {
    color: #80558C;
    text-decoration: none;
  }

a:hover {
    color: #7A4495;
}

.display-above {
    display: none;
}

.border-right {
    border-right: 2px solid #80558C;
}

.border-left {
    border-left: 2px solid #80558C;
}

/* Responsive Styles */
@media screen and (max-width: 969px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    .float-child {
        margin-top: 48px;
    }

    .display-above {
        display: none;
    }
}    
  @media screen and (max-width: 767px) {

    .card-box {
        flex-direction: column;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    .display-below {
        display: none;
    }

    .display-above {
        display: flex;
    }

    .border-right {
        border-right: none;
    }

    .border-left {
        border-left: none;
    }

    .card-container {
        margin-top: 0;
    }
}